.login-container {
  .el-input__inner{
    height: 44px;
    font-size: 16px;
    color: #000;
  }
  .el-form-item__error{
    padding-top: 6px;
  }
}

.el-submenu__title{
  height: 46px;
}

.ctable {
  td, th {
    padding: 6px 0;
  }
}

.el-dialog__footer{
  text-align: center;
}
.sgtable th.is-leaf{
  background:#283040;
  color:#fff;
  border-color: #283040;
}
.sgtable th.is-leaf:nth-child(3){
  color:#f5a623; 
  font-size: 12px;
}
.el-upload--picture-card{
  width: 96px;
  height: 96px;
  line-height: 96px;
}
.el-upload-list--picture-card .el-upload-list__item{
  height: 96px;
  width: 96px
}