.login-container {
  .el-input__inner{
    height: 44px;
    font-size: 16px;
    color: #000;
  }
  .el-form-item__error{
    padding-top: 6px;
  }
}

.el-submenu__title{
  height: 46px;
}

.ctable {
  td, th {
    padding: 6px 0;
  }
}

.el-dialog__footer{
  text-align: center;
}
.sgtable th.is-leaf{
  background:#283040;
  color:#fff;
  border-color: #283040;
}
.sgtable th.is-leaf:nth-child(3){
  color:#f5a623; 
  font-size: 12px;
}
.el-upload--picture-card{
  width: 96px;
  height: 96px;
  line-height: 96px;
}
.el-upload-list--picture-card .el-upload-list__item{
  height: 96px;
  width: 96px
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.avatar {
  width: 150px;
  height: 150px;
  display: block;
}

.el-button--primary,
.el-button--primary:focus
{
  color: #fff;
  background-color: #5BBFD7;
  border-color: #5BBFD7;
}
.el-button--primary:hover{
  background-color: rgba(91,191,215, .6);
  border-color: #5BBFD7;
}

.el-menu-item.is-active{
  color: #5BBFD7;
}